
body {
  background-image: url("../images/vecteezy_space-wallpaper-banner-background-stunning-view-of-a-cosmic_24448956.jpg");
  background-size: cover;
}
     h1{
    font-family: "Courier", sans-serif;
    font-style: normal;
    color: #db6815;
      font-size: 50px;
      font-weight: bold;
      text-shadow: 2px 2px black;
  }
  
   h2{
  font-family: 'Courier', cursive;
  background-color: red;
  color: #ffffff;
  font-size: 30px;
  font-weight: bold;
  text-shadow: 2px 2px black;
}
h3{
  font-family: 'Courier', cursive;
  color: #ffffff;
  font-size: 25px;
  font-weight: bold;
  text-shadow: 2px 2px black;
}

h4{
  font-family: 'Courier', cursive;
  color: #ffffff;
  font-size: 20px;
  font-weight: bold;
  text-shadow: 2px 2px black;
}

h5{
  font-family: 'Courier', cursive;
  color: #ffffff;
  font-size: 15px;
  font-weight: bold;
  text-shadow: 2px 2px black;
}

h6{
  font-family: 'Courier', cursive;
  color: #ffffff;
  font-size: 10px;
  font-weight: bold;
  text-shadow: 2px 2px black;
}

#pictures {
  border: 10px solid red;
  border-radius: 20px;
  text-shadow: 2px 2px black;
}

table {
  font-family: Courier, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 5px solid blue;
  text-align: center;
  padding: 5px;
}

a:link, a:visited {
  background-color: white;
  color: red;
  border: 4px solid red;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

a:hover, a:active {
  background-color: red;
  color: white;
  border: 4px solid lred;
}

button {
  background-color: white;
  color: red;
  border: 4px solid red;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

button:hover, button:active {
  background-color: red;
  color: white;
  border: 4px solid lred;
}

li{
  color: red;
  font-size: 50px;
  font-weight: bold;
  text-shadow: 2px 2px black;
}

.dropbtn {/*Drop down menu stuff*/
  background-color: white;
  color: red;
  border: 4px solid red;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

.dropdown {/*More stuff with the dropdown menu*/
  position: relative;
  display: inline-block;
}

.dropdown-content {/*Changes the colour of the menu when you hover over it*/
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {/*The links within the dropdown menun*/
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: white;}/*Dropdown menu upon hovering, and dropping down*/

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: red;}